src/vendor
src/database/database.*
src/database/sqlite/database.*
src/node_modules
src/.env
src/.env.example
src/.scribe
src/public/vendor/telescope
src/phpunit.xml
src/.php-cs-fixer.*
src/.editorconfig
src/vite.config.js
src/tailwind.config.js
src/postcss.config.js
src/package-lock.json
src/storage
volumes/
.git/
.git-crypt/
.github/
