src/vendor
src/database/database.*
src/database/sqlite/database.*
src/node_modules
src/.env
src/.env.backup
src/.env.production
src/.scribe
src/public/vendor/telescope
src/phpunit.xml
src/.php-cs-fixer.*
src/.editorconfig
src/vite.config.js
src/tailwind.config.js
src/postcss.config.js
src/package-lock.json
src/storage/*.key
src/storage/pail
src/storage/debugbar
!src/storage/avatars/_*.svg
volumes/
.git/
.git-crypt/
.github/
src/auth.json
src/.fleet
src/.idea
src/.nova
src/.vscode
src/.zed

