APP_NAME=Scriptum
APP_ENV=production
APP_KEY=
APP_DEBUG=false
DEBUGBAR_ENABLED=false
DUMP_SQL_QUERIES=false
APP_URL=http://localhost:9000               # replace in production
ASSET_URL=http://localhost:9000             # replace in production
SHOW_LOGO=false

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite        # replace in production (see bellow)
#DB_DATABASE=/app/Scriptum/database/sqlite/database.sqlite

###SESSION_DRIVER=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

MAIL_MAILER=log                             # replace in production (see bellow)
#MAIL_MAILER=smtp

MAIL_SCHEME=null
MAIL_HOST=                                  # fill in in production
MAIL_PORT=                                  # fill in in production
MAIL_ENCRYPTION=tls                         # fill in in production
MAIL_USERNAME=scriptum
MAIL_PASSWORD=                              # fill in in production
MAIL_FROM_ADDRESS=                          # fill in in production
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Domains to acces the page by

DOMAIN=localhost                            # replace in production (ex.: scriptum.example.com)
ADMIN_DOMAIN=admin.localhost                # replace in production (ex.: admin.example.com)

# Admin user details to be created on the first run in case of an empty database

ADMIN_EMAIL=                                # fill in in production
ADMIN_NAME=                                 # fill in in production
ADMIN_HANDLE=                               # fill in in production
# Hashed password is used if present, use that if possible instead of the plain text password
ADMIN_PASSWORD=                             # fill in in production
# to create use: htpasswd -n -B -C12 "" | cut -c 2-
ADMIN_HASHED_PASSWORD=                      # fill in in production