@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

/*@import './highlight/dark-plus.css';*/
@import '../../vendor/tempest/highlight/src/Themes/Css/dark-plus.css';

@import './highlight/light-plus.css';
@import './highlight/dark-plus.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --animate-note-updated: animate-note-updated-keyframes 1s ease-in-out 1;

    @keyframes animate-note-updated-keyframes {
        0% {
            background-color: inherit;
            scale: 100%;
        }
        50% {
            scale: 1.10 1.10;
            background-color: var(--animate-note-updated-bg);
        }
        100% {
            scale: 100%;
            background-color: inherit;
        }
    }

/*
    NOTE: liwevire updates instantly, the "fade ont" should happen before update, the fade in after, but wire cannot do this and it may be slow,
            so this is kept here to be able to thinker with later
*/
/*
    --animate-note-updated: animate-ping-keyframes 2s ease-in-out 1;

    @keyframes animate-ping-keyframes {
        0% {
            background-color: inherit;
            scale: 100%;
            opacity: 1;
        }
        40% {
            background-color: inherit;
            scale: 75%;
            opacity: 0;
        }
        80% {
            scale: 1.10 1.10;
            opacity: 1;
            background-color: var(--animate-ping-bg);
        }
        100% {
            scale: 100%;
            background-color: inherit;
        }
    }
*/

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    :root {
        --animate-note-updated-bg: theme(colors.stone.200); /* light mode */
      }

      .dark {
        --animate-note-updated-bg: theme(colors.stone.900); /* dark mode */
      }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

@layer components {
    .create-note {
        @apply justify-center
                w-9 h-9 text-amber-500 text-2xl
                border-2 border-amber-500/50 rounded-md
                ml-3 -mr-2
                hover:bg-amber-500
                hover:text-orange-600
                hover:animate-pulse
                transition duration-300
                hover:scale-110
    }
    .back-to-top {
        @apply fixed bottom-0 right-0
                items-center flex justify-center
                z-10
                w-9 h-9 text-amber-500 text-2xl
                border-2 border-amber-500/50 rounded-md
                mr-2 mb-2
                hover:bg-amber-500
                hover:text-orange-600
                hover:animate-pulse
                transition duration-300
                hover:scale-110
    }

    .note-row-restricted {
        @apply border-l-5 !border-l-gray-300 dark:!border-l-gray-900 bg-gray-500/20 dark:bg-gray-950/20 opacity-50 blur-[1px]
    }
    .note-row-trashed {
        @apply border-l-5 !border-l-red-300 dark:!border-l-red-900 bg-red-300/20 dark:bg-red-950/20
    }
    .note-row {
        @apply border-l-5 border-l-green-300 dark:!border-l-green-900 bg-green-300/20 dark:bg-green-950/20
    }
}