@layer components {
    .create-note {
        @apply justify-center
                w-9 h-9 text-2xl
                border-2  rounded-md
                ml-3 -mr-2
                transition duration-300
                text-amber-500
                border-amber-500/50
                hover:bg-amber-500
                hover:text-orange-600
                hover:animate-pulse
                hover:scale-110
    }

    .back-to-top {
        @apply fixed bottom-0 right-0
                items-center flex justify-center
                z-10
                w-9 h-9 text-amber-500 text-2xl
                border-2 border-amber-500/50 rounded-md
                mr-2 mb-2
                hover:bg-amber-500
                hover:text-orange-600
                hover:animate-pulse
                transition duration-300
                hover:scale-110
    }

    /* hide pagination default overwiew
        ex.: "Showing 11 to 20 of 28 results"
    */
    .front-page .fi-pagination-overview {
        display: none;
    }

    /* remove empty gap on top of page content */
    .front-page .fi-page-header-main-ctn {
        row-gap: 0;
    }

}
